%p#notice= notice

%p
  %b User:
  = @message.user
%p
  %b Game:
  = @message.game
%p
  %b The text:
  = @message.the_text
%p
  %b The time:
  = @message.the_time

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
