<<<<<<< HEAD
%h2.col-md-4.col-md-offset-4 gamesOnTheTable

%br
%br
%br
%br

.row
  %div.col-md-2.col-md-offset-5
    %p Login and logout
    %p Launch our SPA

.row
  .col-md-3
  .col-md-3
    - unless user_signed_in?
      %p User is not signed in
      %p= link_to "Sign up", new_user_registration_path
      %p= link_to "Login", new_user_session_path
    - else
      %p= "Current user is #{current_user.email}"
      %button= link_to "Logout", destroy_user_session_url, method: :delete

  .col-md-3
    %button
      =  link_to 'Go to a game!', page_path('game')

.row
  .col-md-2.col-md-offset-5{"ng-controller" => "UserController"}

%h2 gamesOnTheTable

%p This file is sessions#new
%p Login and logout
%p Launch our SPA

- unless user_signed_in?
  %p User is not signed in
  %p= link_to "Sign up", new_user_registration_path
  %p= link_to "Login", new_user_session_path

- else
  %p= "Current user is #{current_user.email}"
  %p= link_to "Logout", destroy_user_session_url, method: :delete

  %div{"ng-controller" => "UserController"}

    %p
      {{greeting}}

    %p #{@a}

    %button{"ng-click" => 'getUser()'}
      getUser

<<<<<<< HEAD
=======
  %p
    = link_to 'Go to a game!', page_path('game')
  %p
    = link_to 'Go to select_a_game!', page_path('select_game')
  %p
    = link_to 'List the games', games_path
>>>>>>> cf591f8f1d74f9b52cf95a5adf6af8f0b87fc0cc

  %p
    = link_to 'Go to a game!', page_path('game')
  %p
    = link_to 'Go to select_a_game!', page_path('select_game')
  %p
    = link_to 'List the games', games_path
