= link_to 'a', 'login/1', {method: :post}


%button{href: '/login/2'} b

%h1 Login
= form_for(:session, url: 'login') do |f|
  = f.label :name
  = f.text_field :name
  = f.label :password
  = f.password_field :password
  = f.submit 'login'

%div{"ng-controller" => "user"}
  %p
    {{greeting}}

%p #{@a}
