%h2 gamesOnTheTable

%p Login and logout
%p Launch our SPA

- unless user_signed_in?
  %p User is not signed in
  %p= link_to "Sign up", new_user_registration_path
  %p= link_to "Login", new_user_session_path

- else
  %p= "Current user is #{current_user.email}"
  %p= link_to "Logout", destroy_user_session_url, method: :delete

  %div{"ng-controller" => "UserController"}
    %p
      {{greeting}}

    %p #{@a}

    %button{"ng-click" => 'getUser()'}
      getUser

  %p
    =  link_to 'Go to a game!', page_path('game')

