/ Question for 


%H2 Traditional Rails/Devise login and logout

- unless user_signed_in?
  %p User is not signed in
  %p= link_to "Sign up", new_user_registration_path
  %p= link_to "Login", new_user_session_path

- else
  %p= "Current user is #{current_user.email}"
  %p= link_to "Logout", destroy_user_session_url, method: :delete

  %div{"ng-controller" => "user"}
    %p
      {{greeting}}

    %p #{@a}

    %button{"ng-click" => 'getUser()'}
      getUser

/ %p
/   = debug params
/   SOMETHING
/   = debug session
