.row
  .col-sm-6
    = form_for @game do |f|
      - if @game.errors.any?
        #error_explanation
          %h2= "#{pluralize(@game.errors.count, "error")} prohibited this game from being saved:"
          %ul
            - @game.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :name
        = f.text_field :name

      .form-group
        = f.label :end_time
        .input-group.date#datetimepicker1
          = f.text_field :end_time, class: "form-control"
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
      .form-group
        = f.label :num_users
        = f.number_field :num_users
      .form-group
        = f.label :status
        = f.text_field :status

      = f.submit 'Save', class: "btn btn-primary"
