%h1 Listing games

%table
  %thead
    %tr
      %th Name
      %th Secs left
      %th Num users
      %th Open
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.name
        %td= game.secs_left
        %td= game.num_users
        %td= game.open
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
