%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Secs left:
  = @game.secs_left
%p
  %b Num users:
  = @game.num_users
%p
  %b Open:
  = @game.open

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
